@model IEnumerable<FFMP.Models.BlobStorage>

@{
    ViewData["Title"] = "Files";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_Navbar");
    }
    }

<h1 class="text-center">Uploaded Files</h1>
<hr />
<br />
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-circle-plus"></i> Upload New File
    </button>
<br />
<br />

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" asp-controller="Inspection" asp-action="Upload">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Blob Storage File Upload</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> Select File </label>
                                <input class="form-control" name="files" multiple="multiple" type="file" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input class="btn btn-success" type="submit" value="Upload" />
                </div>
            </form>
        </div>
    </div>
</div>
    <script>
        $(document).ready(function () {

            var table = $('#table').DataTable({
                order: [[0, 'desc']],
            });
        });
    </script>
    <table class="table table-striped" id="table">
    <thead>
        <tr>
            <th>FileName</th>
            <th>FileSize</th>
            <th>Modified</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
            <tr>
                <td>@data.FileName</td>
                <td>@data.FileSize</td>
                <td>@data.Modified</td>
                <td>
                    <a href="/Inspection/DownloadFile?blobName=@data.FileName" class="btn btn-info btn-sm"><i class="fa-solid fa-trash"></i>Download</a> |
                    <a href="/Inspection/DeleteFile?blobName=@data.FileName" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i>Delete</a>          
                </td>
                
            </tr>
        }
    </tbody>
</table>
