@inject IHttpContextAccessor _contxt;

@if (_contxt.HttpContext.Session.GetString("onadmin") == "Admin")
{
<header class="position">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                            <a class="nav-link text-dark px-3" asp-area="" asp-controller="Users" asp-action="IndexUsers">
                            Users
                        </a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AuditingForms"
                           asp-action="Index">Auditing forms</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark px-3" asp-area="" asp-controller="ObjectToCheck"
                           asp-action="Index">Service objects</a> 
                    </li>
                    <li class="nav-item">
                            <a class="nav-link text-dark px-3" asp-area="" asp-controller="Inspection"
                           asp-action="Index">Inspections</a>
                    </li>

                                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AuditingLogs"
                           asp-action="Index" asp-route-id="null">Auditings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark px-3" asp-area="" asp-controller="Inspection"
                           asp-action="Files">Files</a>
                           </li>
                    <li class="nav-item">
                            <a class="nav-link text-dark px-3" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
}

else
{
    <header class="position">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark px-3" asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@_contxt.HttpContext.Session.GetString("userlogin")">
                                Account information
                            </a>
                        </li>
                                                <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AuditingForms"
                           asp-action="Index">Auditing forms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark px-3" asp-area="" asp-controller="ObjectToCheck"
                           asp-action="Index">Service objects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark px-3" asp-area="" asp-controller="Inspection"
                           asp-action="Index">Inspections</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AuditingLogs"
                           asp-action="Index" asp-route-id="null">Auditings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark px-3" asp-area="" asp-controller="Inspection"
                           asp-action="Files">Files</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark px-3" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
}