@model FFMP.Data.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit User</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Login" />
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="LastLogin" class="control-label"></label>
                <input asp-for="LastLogin" class="form-control" />
                <span asp-validation-for="LastLogin" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Admin" class="control-label"></label>
                @*<input asp-for="Admin" class="form-control" />*@
                <select asp-for="Admin" id="selectAdTF" class="form-control">
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
                <span asp-validation-for="Admin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                @*<input asp-for="Active" class="form-control" />*@
                <select asp-for="Active" id="selectAcTF" class="form-control">
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                @ViewBag.Message
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="IndexUsers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
